{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h3 id="header"></h3>

    <div id="profile-view">
        <div id="follow-stats">
            {% if user.is_authenticated %}
                <button id="follow-button" class="btn btn-primary" type="button"></button>
            {% endif %}
            <div id="follow-counts">
            </div>
        </div>
    </div>

    <div id="posts-view">
        {% if user.is_authenticated %}
            <form id="post-form-container" action="{% url 'update' %}" method="post">
                <div id="submission-data">
                    {% csrf_token %}
                    {{ post_formset.management_form }}
                </div>
                {% for form in post_formset %}
                <div class="post-form">
                    {{ form.as_p }}
                </div>
                {% endfor %}
                <input id="post-button" class="btn btn-primary" type="submit" value="Post">
            </form>
        {% endif %}
        
        <div id="posts-body">
        </div>
    </div>

    <div id="paginator">

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/script.js'%}"></script>
{% endblock %}