.body {
    padding: 16px;
    margin: 0;
}

#profile {
    font-weight: bold;
}

/* NEW POST FORM STYLING */
form {
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

textarea {
    resize: none;
    border: 1px solid darkgray;
    border-radius: 4px;
}

label {
    display: block;
    font-weight: bold;
}

/* content field */
#id_form-0-content {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 6px;
}

#post-button {
    width: 100px;
    text-align: center;
}

/* POST STYLING */
.post {
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 50%;
    margin: 10px 0;
    padding: 16px;
}

.username {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.timestamp {
    color: #777777;
}

.content {
    padding: 0;
    margin-bottom: 10px 0;
}

.likes {
    padding: 0;
    margin: 0;
}

#paginator {
    width: 50%;
    display: flex;
    justify-content: space-between;
}