.body {
    padding: 16px;
    margin: 0;
    width: 50%;
}

#profile {
    font-weight: bold;
}

/* NEW POST FORM STYLING */
form {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
}

#edit-form {
    border: none;
    margin: 0;
    padding: 0;
}

#edit-form label {
    display: none;
}

#edit-form p {
    padding: 0;
    margin: 0;
}

#submit-edit {
    float: right;
    margin-top: 5px;
    height: 36px;
    width: 100px;
    line-height: 0;
    vertical-align: middle;
}

textarea {
    resize: none;
    border: 1px solid darkgray;
    border-radius: 4px;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 6px;
}


label {
    display: block;
    font-weight: bold;
}

#post-button {
    width: 100px;
    text-align: center;
}

/* POST STYLING */
.post {
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px 0;
    padding: 16px;
}

.username {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.timestamp {
    color: #777777;
    margin-bottom: 10px;
}

.content {
    padding: 0;
    margin: 0;
}

.likes {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}

.edit {
    padding: 0;
    margin: 0;
}

#paginator {
    display: flex;
    justify-content: space-between;
}